<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<title>Featured</title>
	<link type="text/css" rel="stylesheet" href="../style/css_file.css">
	<script type="text/javascript" src="../scripts/myScript.js"></script>
</head>

<body>
	<div class="box headings">
		<p>Faculty of Medicine</p>
		<span id="heading1">EdTech: Technology Enabled Learning and Innovation</span>
		</div>
		
	</div><div class="box menu">
	
		<img alt="Home Bar" src="../assets/images/HOME_BAR_UBC.png">
	</div><div class="box plaque" id="projects">
	
		<img src="../assets/thumbnails/projectstext.png" alt="projects">
		<img alt="home" src="../assets/thumbnails/home_icon.png" id="home_icon" onClick="goHome();">
	</div><div class="box">
		<br><br>
		<iframe width="750" height="375" src="https://www.youtube.com/embed/UPFD5hb4zRA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	<br>
		<iframe width="750" height="375" src="https://www.youtube.com/embed/PzyQ0Qhd4js" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	
		<iframe width="750" height="375" src="https://www.youtube.com/embed/9csvnEpeSrI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	</div><div class="box" id="media">
		
		<div class="logo-container">
			
			<img src="../assets/thumbnails/CONTACT.png" alt="Contact Us" class="logo" onClick="goContact();">
		</div><div class="logo-container">
			
			<img src="../assets/thumbnails/podcast_logo.png" alt="Podcasts" class="logo" onClick="goPodcast();">
		</div><div class="logo-container">
			
			<img src="../assets/thumbnails/twitter_logo.png" alt="Twitter" class="logo" onClick="goTwitter();">
		</div><div class="logo-container">
	
			<img src="../assets/thumbnails/youtube_logo.png" alt="YouTube" class="logo" onClick="goYouTube();">
		</div><div class="logo-container">
	
			<img src="../assets/thumbnails/instagram_logo_alt.png" alt="Instagram" class="logo" onClick="goInstagram();">
		</div>
	</div>
</body>
</html>
