<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>EdTech</title>
	<link type="text/css" rel="stylesheet" href="../style/css_file.css">
	<script type="text/javascript" src="../scripts/myScript.js"></script>
	<script type="text/javascript" src="https://raw.githubusercontent.com/LeaVerou/prefixfree/gh-pages/prefixfree.min.js"></script>
</head>
	
<body>
	<div class="box headings">
		<p>Faculty of Medicine</p>
		<span id="heading1">EdTech: Technology Enabled Learning and Innovation</span>
		</div>
		
	</div><div class="box menu">
	
		<img alt="Home Bar" src="../assets/images/HOME_BAR_UBC.png">
	</div><div class="box plaque" id="home">
	
		<strong>EdTech</strong> is an interdisciplinary team of instructional designers, storytellers,<br>innovators consultants and enablers.
	</div><div class="box">
		<div id="left">
			
			<div>
				<img src="../assets/images/projects.jpg" alt="Projects" onClick="goProjects();">
			</div><div>
				<img src="../assets/images/the team.jpg" alt="The Team" onClick="goTeam();">
			</div>
		</div><div id="middle">
			<video controls poster="../assets/images/edtech_poster.png" id="home-video">
				<source src="../assets/images/ED_TECH_WEBSITE_VIDEO_V5.mp4" type="video/mp4">
			</video>
		</div><div id="right">
		
			<div>
				<img src="../assets/images/services.jpg" alt="Services" onClick="goServices();">
			</div>
			<div>
				<img src="../assets/images/Our process.jpg" alt="Our Process" onClick="goProcess();">
			</div>
		</div>
	</div><div class="box" id="media">
		
		<div class="logo-container">
			
			<img src="../assets/thumbnails/CONTACT.png" alt="Contact Us" class="logo" onClick="goContact();">
		</div><div class="logo-container">
			
			<img src="../assets/thumbnails/podcast_logo.png" alt="Podcasts" class="logo" onClick="goPodcast();">
		</div><div class="logo-container">
			
			<img src="../assets/thumbnails/twitter_logo.png" alt="Twitter" class="logo" onClick="goTwitter();">
		</div><div class="logo-container">
	
			<img src="../assets/thumbnails/youtube_logo.png" alt="YouTube" class="logo" onClick="goYouTube();">
		</div><div class="logo-container">
	
			<img src="../assets/thumbnails/instagram_logo_alt.png" alt="Instagram" class="logo" onClick="goInstagram();">
		</div>
	</div>
	
	<script>
		var myVideo = document.getElementById("home-video");

		myVideo.onended = function() {
		  myVideo.poster = "../assets/images/edtech_poster.png"
		  myVideo.src = "../assets/images/ED_TECH_WEBSITE_VIDEO_V5.mp4"
		};	
	</script>
</body>
</html>
