<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<title>Projects</title>
	<link type="text/css" rel="stylesheet" href="../style/css_file.css">
	<script type="text/javascript" src="../scripts/myScript.js"></script>
</head>

<body>
	<div class="box headings">
		<p>Faculty of Medicine</p>
		<span id="heading1">EdTech: Technology Enabled Learning and Innovation</span>
		
		<div class="heading2">
    		<span id="headings2_span" onClick="goEntrada();">Entrada &nbsp;</span>
			<img src="../assets/thumbnails/responsive_menu_icon-512.png" alt="Menu" id="headings2_menu" class="dropbtn" onClick="dropDownMenu();">
			<div id="myDropdown" class="dropdown-content">
				<a href="https://mdupusers.med.ubc.ca:8443/AccessRequest/submit.html">UGME Access Request Form</a>
				<a href="https://www.one45.med.ubc.ca/">Patient Encounter Logging, Course Evaluation and Curriculum Mapping</a>
				<a href="http://www.library.ubc.ca/">Library</a>
		</div>
		</div>
		
	</div><div class="box plaque" id="projects">
	
		<img src="../assets/thumbnails/projectstext.png" alt="projects">
		<img alt="home" src="../assets/thumbnails/home_icon.png" id="home_icon" onClick="goHome();">
	</div><div class="box">
	
		<div class="sub-box">
			<div class="sub-box-element">
				
				<span>COV-Ed is an educational animated series co-produced by the medical students at The University of British Columbia.</span>
			</div><div class="sub-box-element sub-box-element-img">
			
				<video controls poster="../assets/images/Covid_poster.png" id="proj-video">
					<source type="video/mp4" src="../assets/images/COV-Ed- Mythbusters! COVID-19 Edition.mp4">
				</video>
			</div><div class="sub-box-element">
			
				<span>Our mission is simple to help you be the best dot you can be.</span>
			</div>
		</div><div class="sub-box">
			<div class="sub-box-element sub-box-element-img">
				
				<img alt="Past" src="../assets/images/PAST.jpg">
			</div><div class="sub-box-element sub-box-element-img">
	
				<img alt="Current" src="../assets/images/CURRENT.jpg">
			</div><div class="sub-box-element sub-box-element-img">
	
				<img alt="Future" src="../assets/images/future.jpg">
			</div>
		</div>
	</div><div class="box" id="media">
		
		<div class="logo-container">
			
			<img src="../assets/thumbnails/CONTACT.png" alt="Contact Us" class="logo" onClick="goContact();">
		</div><div class="logo-container">
			
			<img src="../assets/thumbnails/podcast_logo.png" alt="Podcasts" class="logo" onClick="goPodcast();">
		</div><div class="logo-container">
			
			<img src="../assets/thumbnails/twitter_logo.png" alt="Twitter" class="logo" onClick="goTwitter();">
		</div><div class="logo-container">
	
			<img src="../assets/thumbnails/youtube_logo.png" alt="YouTube" class="logo" onClick="goYouTube();">
		</div><div class="logo-container">
	
			<img src="../assets/thumbnails/instagram_logo_alt.png" alt="Instagram" class="logo" onClick="goInstagram();">
		</div>
	</div>
	
	<script>
		var myVideo = document.getElementById("proj-video");

		myVideo.onended = function() {
		  myVideo.poster = "../assets/images/Covid_poster.png"
		  myVideo.src = "../assets/images/COV-Ed- Mythbusters! COVID-19 Edition.mp4"
		};
	</script>
</body>
</html>
