<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<title>Services</title>
	<link type="text/css" rel="stylesheet" href="../style/css_file.css">
	<script type="text/javascript" src="../scripts/myScript.js"></script>
	<script type="text/javascript" src="https://raw.githubusercontent.com/LeaVerou/prefixfree/gh-pages/prefixfree.min.js"></script>
</head>

<body>
	<div class="box menu1">
		
		<img alt="UBC" src="../assets/images/UBC.png">
	</div><div class="box headings">
		<p>Faculty of Medicine</p>
		<span id="heading1">EdTech: Technology Enabled Learning and Innovation</span>
		</div>
		
	</div><div class="box menu">
	
		<img alt="Home Bar" src="../assets/images/HOME_BAR_UBC.png">
	</div><div class="box plaque" id="services">
	
		<span id="heading3">Our <strong>services</strong> include media production, teaching &amp; learning resources, and <br>educational technology consulting. Hover over the icons for more information.</span>
		<img alt="home" src="../assets/thumbnails/home_icon.png" id="home_icon" onClick="goHome();">
	</div><div class="box">
		<div id="left-alt">
			
			<img src="../assets/thumbnails/media_production.png" alt="Media Productions" class="spin">
			<div class="below-spin">
				<span>podcasts, lecture recordings, documentary film, animation, virtual reality, 3D scanning, infographics</span>
			</div>
		</div><div id="middle-alt">
	
			<img src="../assets/thumbnails/teching_and_learning.png" alt="Teaching and Learning Resourse" class="spin">
			<div class="below-spin">
				<span>interactive modules, case based learning, analytics, UX design, course development</span>
			</div>
		</div><div id="right-alt">
	
			<img src="../assets/thumbnails/EDUCATIONAL_TECHNOLOGY.png" alt="Eductional Technology" class="spin">
			<div class="below-spin">
				<span>UBC supported software support, volumetric capture, simulation consultation, virtual reality, remote A/V support</span>
			</div>
		</div>
	</div><div class="box" id="media">
		
		<div class="logo-container">
			
			<img src="../assets/thumbnails/CONTACT.png" alt="Contact Us" class="logo" onClick="goContact();">
		</div><div class="logo-container">
			
			<img src="../assets/thumbnails/podcast_logo.png" alt="Podcasts" class="logo" onClick="goPodcast();">
		</div><div class="logo-container">
			
			<img src="../assets/thumbnails/twitter_logo.png" alt="Twitter" class="logo" onClick="goTwitter();">
		</div><div class="logo-container">
	
			<img src="../assets/thumbnails/youtube_logo.png" alt="YouTube" class="logo" onClick="goYouTube();">
		</div><div class="logo-container">
	
			<img src="../assets/thumbnails/instagram_logo_alt.png" alt="Instagram" class="logo" onClick="goInstagram();">
		</div>
	</div>
	<div class="box">
		
		<img alt="UBC" src="../assets/images/UBC-bottom.png">
	</div>
</body>
</html>
