<!doctype html>
<html>
<head>
 	<meta charset="utf-8">
	<title>The Team</title>
	<link type="text/css" rel="stylesheet" href="../style/css_file.css">
	<script type="text/javascript" src="../scripts/myScript.js"></script>
	<script type="text/javascript" src="https://raw.githubusercontent.com/LeaVerou/prefixfree/gh-pages/prefixfree.min.js"></script>
</head>

<body>
	<div class="box menu1">
		
		<img alt="UBC" src="../assets/images/UBC.png">
	</div><div class="box headings">
		<p>Faculty of Medicine</p>
		<span id="heading1">EdTech: Technology Enabled Learning and Innovation</span>
		</div>
		
	</div><div class="box menu">
	
		<img alt="Home Bar" src="../assets/images/HOME_BAR_UBC.png">
	</div><div class="box plaque" id="team">
	
		<span id="heading3">Our <strong>team</strong> has a diverse background and skill-set. With a wide range of experiences and talents, we work together to provide you the best support, consultation and expertise.</span>
		<img alt="home" src="../assets/thumbnails/home_icon.png" id="home_icon" onClick="goHome();">
	</div><div class="box">
	<br><br>
		<div class="sub-box-flex">
			<p>
				<span class="name">Gary Rosborough</span>
				<span class="description">(Senior Manager, Educational Technology)</span>
			</p>
			<p>
				Gary has over 20 years’ experience working in the healthcare and academic environment in various leadership roles in training, organizational effectiveness and educational technology. As a certified LEAN Green Belt and organizational effectiveness expert he brings a client and learner oriented perspective to improving educational services within the Faculty.

			</p>
		</div>
		<div class="sub-box-flex">
			<p>
				<span class="name">Justin B. Student</span>
				<span class="description">(Program Manager and Senior Instructional Designer)</span>
			</p>
			<p>
				Justin has been designing and developing user-centred learning experiences since 2003 when he began working on custom eLearning courses for the corporate sector. After completing a Masters degree in Learning and Technology, Justin shifted to higher education in 2010 by joining UBC Medicine to support the online programs for the Faculty of Medicine. Justin recently became an HFI-Certified User Experience Analyst and continues enabling all users to share their voice to discover underlying problems that aid in the production of custom solutions for improved learning media and teaching resources.
				
				When Justin is not working with a computer, he kicks a soccer ball around with his 3 daughters, tends to his honey bees, and grafts heritage apple trees for his hobby orchard.
			</p>
		</div>
		<div class="sub-box-flex">
			<p>
				<span class="name">Ferooz Sekandarpoor</span>
				<span class="description">(Simulation Technology Specialist)</span>
			</p>
			<p>
				Ferooz has over 17 years of experience as an IT professional, Simulation Technology Specialist, and AV Specialist in Healthcare and Academic Environment. He was one of the founders and chair of the BC Simulation Technology Working Group in the province. Before joining the University of British Columbia, Ferooz worked as a network administrator for the United Nations Development Program internationally.

			</p>
		</div>
		<div class="sub-box-flex">
			<p>
				<span class="name">Zachary Rothman</span>
				<span class="description">(Senior Producer and Creative Lead – Video &amp; Digital Media)</span>
			</p>
			<p>
				Since 2010, Zac has written, produced, and directed film, audio, interactive and immersive projects in order to help people teach things to other people. He enjoys the unique creative collaboration between subject matter experts and storytellers, and thrives on the constant discovery of form following function. He’s not afraid of puppet shows.
			</p>
		</div>
		<div class="sub-box-flex">
			<p>
				<span class="name">Paul Milaire</span>
				<span class="description">(Technical Producer – Video &amp; Digital Media)</span>
			</p>
			<p>
				Teaching and learning has always been a huge passion for Paul. Whether it’s animating complex physiological concepts or recording a podcast with a medical expert, he enjoys using technology to enhance the learning experience for students. He is also secretly hoping to join a hackysack circle on campus one day.
			</p>
		</div>
		<div class="sub-box-flex">
			<p>
				<span class="name">Sam McGuinness</span>
				<span class="description">(Technical Producer – Video &amp; Digital Media)</span>
			</p>
			<p>
				With a background in documentary film and advertising - Sam specializes in content creation, with a focus on filming, editing, and animating video. His favourite cereal is Apple Cinnamon Cheerios, and he's never lied to his mom.
			</p>
		</div>
		<div class="sub-box-flex">
			<p>
				<span class="name">Stephen Gillis</span>
				<span class="description">(Associate Producer – Video &amp; Digital Media)</span>
			</p>
			<p>
				

Stephen specializes in film and podcast production, distribution, and social media management. Drawing from a 20+ year career in film & marketing, including writing & directing two feature films for primetime television, he provides a deep knowledge of the script to screen process and assists clients with a collaborative storytelling approach
			</p>
		</div>
		<div class="sub-box-flex">
			<p>
				<span class="name">Tammy Do</span>
				<span class="description">(Academic Continuity Rover)</span>
			</p>
			<p>
				Having grown up experiencing technology incorporated in her classrooms, Tammy is excited to learn about and assist with organizing knowledge into online yet interactive courses. She enjoys ultimate frisbee, chocolate chip Eggos and other people’s cats.
			</p>
		</div>
	</div><div class="box" id="media">
		
		<div class="logo-container">
			
			<img src="../assets/thumbnails/CONTACT.png" alt="Contact Us" class="logo" onClick="goContact();">
		</div><div class="logo-container">
			
			<img src="../assets/thumbnails/podcast_logo.png" alt="Podcasts" class="logo" onClick="goPodcast();">
		</div><div class="logo-container">
			
			<img src="../assets/thumbnails/twitter_logo.png" alt="Twitter" class="logo" onClick="goTwitter();">
		</div><div class="logo-container">
	
			<img src="../assets/thumbnails/youtube_logo.png" alt="YouTube" class="logo" onClick="goYouTube();">
		</div><div class="logo-container">
	
			<img src="../assets/thumbnails/instagram_logo_alt.png" alt="Instagram" class="logo" onClick="goInstagram();">
		</div>
	</div>
	<div class="box">
		
		<img alt="UBC" src="../assets/images/UBC-bottom.png">
	</div>
</body>
</html>
