@charset "utf-8";
/* CSS Document */

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html, body{
	height: 100%;
	width: 100%;
}

[onClick]{
	cursor: pointer;
}

.box{
	width: 100%;
	background-color: white;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	color: floralwhite;
	font-size: 180%;
	text-align: center;
	z-index: -1;
}

.menu{
	background-color: gainsboro;
	height: 35px;
}

.menu img{
	margin-left: 0;
	max-height: 100%;
	max-width: 100%;
}

.menu1{
	height: 75px;
}

.menu1 img{
	margin-left: 0;
}

/*
div.box::after{
	
	bottom: 0;
	content: "";
	pointer-events: none;
	background: linear-gradient(to bottom,
		rgba(255, 255, 255, 0),
		rgba(255, 255, 255, 1) 90%);
}
*/

.sub-box-flex{
	width: 100%;
	display: block;
	align-items: center;
	font-size: large;
	padding: 0.5% 2.5%;
	color: black;
}

.sub-box-flex p{
	font-size: large;
	padding: 0.5% 1%;
}

.name{
	color: #2F5D7C;
	font-size: x-large;
	padding-left: 0;
}

.description{
	color: black;
	font-size: large;
	font-weight: bold;
}

.sub-box{
	width: 100%;
	height: 216px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	color: black;
}

.sub-box-element{
	width: 33.33%;
	padding: 0.5%;
}

.sub-box-element-img{
	height: 100%;
}

.box.headings{
	background-color: #0C2343;
	overflow: auto;
	font-family: Arial;
	padding-left: 1%;
}

.proj{
	width: 100%;
	height: 432px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
}

.proj-sub{
	max-width: 50%;
	max-height: 100%;
	padding: 7%;
}

p{
	font-size: medium;
	text-align: left;
	padding-left: 0.5%;
	padding-right: 0.5%;
	padding-top: 0.5%;
	padding-bottom: 0;
}

span{
	font-size: x-large;
	padding-left: 0.5%;
	padding-right: 0.5%;
	padding-top: 0;
	padding-bottom: 0.5%;
}

img{
	max-height: 100%;
	max-width: 100%;
	display: block; /*to remove extra space after the image*/
	margin-left: auto;
	margin-right: auto;
}

.headings #heading1{
	float: left;
}

#heading3{
	align-items: center;
	justify-content: center;
	position: relative;
	width: 100%;
	padding: 1.5%;
}

.heading2{
    float: right;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding-left: 0.5%;
	padding-right: 0.5%;
	padding-top: 0;
	padding-bottom: 0;
}

#headings2_menu{
    width: 7%;
    height: auto;
    float: right;
	margin-right: inherit;
	margin-left: inherit;
}

#home_icon{
	width: 3.5%;
    	height: 3.5%;
    	float: right;
	padding-bottom: 1%;
	padding-top: 1%;
	position: relative;
	right: 2%;
}

.plaque{
	padding: 2%;
}

.plaque img{
	margin-right: 0;
	height: 57px;
	width: auto;
	padding: 0.5% 0;
}

#media{
	display: inline-flex;
	position: sticky;
	position: -webkit-sticky; 
	bottom: 0;
	z-index: 1;
}

#home{
	background-color: #2F5D7C;
}

#services{
	background-color: #2F5D7C;
	padding: 0.5%;	
	display: inline-flex;
}

#process{
	background-color: #2F5D7C;
	padding: 0.5%;	
	display: inline-flex;
}

#team{
	padding: 0.5%;
	display: inline-flex;
	background-color: #2F5D7C;
}

#projects{
	background-color: #2F5D7C;
	padding: 0.5%;	
	display: inline-flex;
}

#left, #middle, #right{
	display: inline-block;
	*display: inline;
	font-size: xx-large;
	overflow: hidden;
	position: relative;
	top: 0;
	align-items: flex-start;
	height: 432px;
}

#left, #right{
	width: 25%;
}

#middle{
	width: 50%;
	background-color: white;
}

#left-alt, #middle-alt, #right-alt{
	display: inline-block;
	width: 30%;
	padding: 4%;
	height: 432px;
	overflow: hidden;
	position: relative;
}

video{
	max-height: 100%;
	max-width: 100%;
}

.logo-container{
	display: inline-block;
	height: 5%;
	width: 20%;
	padding: 1%;
	padding-top: 2%;
	padding-left: 3%;
}

.logo{
	height: 40px;
	object-fit: cover;
}

/*CSS for the drop-down menu*/

.dropdown-content {
  	display: none;
	position: absolute;
	top: 45%;
	right: 6%;
	background-color: #f1f1f1;
	min-width: 160px;
	overflow: visible;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
	font-size: large;
}

.dropdown-content a {
  color: black;
  padding: 0.5% 0.3%;
  text-decoration: none;
  display: block;
}

.show {display: block;}


/*CSS for the spinning animation*/

@keyframes spin{

	100% { 
		transform:rotateY(360deg); 
	} 
}

@keyframes blend{
	
	100% {
		opacity: 0;
	}
}

@keyframes appear{
	
	0% {
		opacity: 0;
	}
	
	100% {
		opacity: 1;
	}
}

.spin{
	
	z-index: 2;
}
/*
.spin:hover{
	
	animation:spin 0.5s ease-in 1 alternate, blend 1s linear 1;
	animation-fill-mode: forwards;
}*/

.spin:hover{
	
	cursor: pointer;
	animation:blend 1s linear 1;
	animation-fill-mode: forwards;
}

.below-spin{
	
	z-index: 1;
	opacity: 0;
	color: black;
	position: absolute;
	top: 30%;
}

.spin:hover + .below-spin{
	
	animation: appear 2s linear 1;
	animation-delay: 0.75s;
	animation-fill-mode: forwards;
}
